<style>
	.hed {
		display: flex;
		justify-content: space-around;
	}

	 {
		width: 50%;
	}
</style>
<div class="hed">
	<div class="">
		<img src="{{ absolute_url(asset('img/RC.png')) }}" class="" alt=""/>
	</div>
	<div class="col-3 border border-2 pt-3">
		<p>
			<strong>Empresa:</strong>RentACar S.L.</p>
		<p>
			<strong>CIF:</strong>
			B-79949947
		</p>
		<p>
			<strong>Ubicación:
			</strong>
			Calle Cualquiera Nº 12 11540 Sanlúcar de Barrameda
		</p>
	</div>
</div>
