<footer>
    <table width="100%">
        <tr>
            <td>
            <img src="{{ absolute_url( asset('img/medidas_personales_48x48.png') ) }}" class="" alt="">
            </td>

            <td align="right">
                <p>RentACar S.L.</p>
                <p>Fecha de Emisión: INSERTAR DATO</p>
            </td>
        </tr>
    </table>
</footer>