<header>
	<table width="100%" style="text-align: center; height: 150px">
		<tr>
			<td valign="top">
				<img src="{{ absolute_url(asset('img/RC.png')) }}" style="height: 10em;"/>
			</td>
			<td style="">
				<h1>Listado de Coches</h1>
			</td>
			<td valign="center">
				<img style="width: 200px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ee/Logo_de_la_Consejer%C3%ADa_de_Desarrollo_Educativo_y_Formaci%C3%B3n_Profesional_de_la_Junta_de_Andaluc%C3%ADa.png/800px-Logo_de_la_Consejer%C3%ADa_de_Desarrollo_Educativo_y_Formaci%C3%B3n_Profesional_de_la_Junta_de_Andaluc%C3%ADa.png" class="img-fluid rounded-top" alt="">
			</td>
		</tr>
	</table>
</header>
