{% extends 'base.html.twig' %}

{% block title %}RentACar
{% endblock %}

{% block body %}
	{{ include('./user/_nav.html.twig') }}

    <div class="container">
        {{form(form)}}
    </div>

{% endblock %}
