{% extends 'base.html.twig' %}

{% block title %}RentACar
{% endblock %}

{% block body %}
	{{ include('./user/_nav.html.twig') }}

    <div class="container">
        {{form(form)}}
		<a class="btn btn-secondary align-middle justify-content-center " href="/"> Volver</a>
    </div>

{% endblock %}
