{% extends 'base.html.twig' %}

{% block title %}RentACar
{% endblock %}

{% block body %}


	{{ include('./user/_nav.html.twig') }}
	<div class="container">
		{% for flash_message in app.session.flashbag.get('error') %}
			<div class="flash-notice">
				{{ flash_message }}
			</div>
		{% endfor %}
		<h1>Bienvenido
			{{ app.user.userIdentifier  }}
			✅</h1>

		<div>
			<p>¿Deseas registrar un nuevo coche?</p>
			<a class="btn btn-primary" href="/user/car/register">Registrar Coche</a>
		</div>

	</div>
{% endblock %}
